ajax==3.0.0
appdirs==1.4.3
asgiref==3.2.3
astroid==2.3.3
codegen==1.0
decorator==4.4.1
distlib==0.3.0
Django==3.0.2
django-appconf==1.0.3
django-redis==4.11.0
django-redis-cache==2.1.0
d#egg=django_session_security
django-session-timeout==0.0.4
filelock==3.0.12
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==20.1
patterns==0.3
Pillow==7.0.0
pluggy==0.13.1
psycopg2-binary==2.8.4
py==1.8.1
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pyparsing==2.4.6
python-decouple==3.3
pytz==2019.3
redis==3.4.1
reverse==0.1.0
six==1.14.0
sqlparse==0.3.0
toml==0.10.0
tox==3.14.5
tox-travis==0.12
virtualenv==20.0.5
wrapt==1.11.2
