  <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (609)-224-5549
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> valsrealtydemo@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://www.facebook.com/validol27">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/val-galesnik-6b3b77163/">
                <i class="fab fa-linkedin"></i>
            </a>
              <a href="https://www.github.com/ValGalesnik/">
                  <i class="fab fa-github"></i>
              </a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
